body {
    background-image: url("../img/background_camp.jpg");
    background-attachment: fixed;
    height: 1000px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat, repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

h1, h2, h3 {
    font-family: 'Squada One', cursive;
}

h2 {
    color: rgb(92, 115, 241);
}

header h2 {
    color: #CEC8FF;
}

.site-footer{
    background-image: linear-gradient(#b7a8f8, white);
    padding: 20px 0px;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
    color: white;
}

.row-content {
    margin: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}
.navbar{
    background-color: #901CAD;
    font-family: 'Odibee Sans', cursive;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}
.carousel {
    border: solid 1px #5637DD;
}
#reserveButton{
    font-family: 'Odibee Sans', cursive;
}
#content_container{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white;
    margin-top: 10px;
    text-shadow: 2px 2px #000000;
}
.card{
    color: black;
    text-shadow: 0px 0px;
}
.table-responsive{
    color: black;
    text-shadow: 0px 0px;
}